{% trans_default_domain 'FOSUserBundle' %}
<link rel="stylesheet" href="{{ asset('css/profile.css') }}">
<div class="fos_user_user_show">
<div class="container">
    <ul class="collection with-header z-depth-4">
        <li class="collection-item "><div><p>{{ "Nom d'utilisateur"|trans }}: {{ user.username }}</p><a href="{{ path('removeUser',{id: user.id})}}" class="secondary-content"></a></div></li>
        <li class="collection-item "><div><p>{{ 'Email'|trans }}: {{ user.email }}</p><a href="{{ path('removeUser',{id: user.id})}}" class="secondary-content"></a></div></li>
    </ul>
    <a href="{{ path('fos_user_profile_edit') }} " class="btn-flat">Modifier Compte</a>
    <a href="{{ path('fos_user_change_password') }} " class="btn-flat">Changer de mot de passe</a>
</div>
</div>
