{% trans_default_domain 'FOSUserBundle' %}
<link rel="stylesheet" href="{{ asset('css/Form.css') }}">
<div class="container">
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
<div>
    <input class="waves-effect waves-light btn" type="submit" value="{{ 'Valider'|trans }}" />
</div>
{{ form_end(form) }}
</div>