{% trans_default_domain 'FOSUserBundle' %}
<link rel="stylesheet" href="{{ asset('css/Form.css') }}">
<div class="container">
{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
        {{ form_row(form.current_password, {
            'label': "Mot de passe",
            'attr': {'class': 'input-field'}
        }) }}
        {{ form_row(form.plainPassword.first, {
            'label': 'Nouveau mot de passe',
            'attr': {'class': 'input_field'}
        }) }}
        {{ form_row(form.plainPassword.second, {
            'label': 'Confirmation mot de passe',
            'attr': {'class': 'input_field'}
        }) }}
<div>
    <input class="waves-effect waves-light btn" type="submit" value="{{ 'Envoyer'|trans }}" />
</div>
{{ form_end(form) }}
</div>